<section class="row">
	<div class="column">
		<h1>Expert Centre</h1>
		<h2 *ngIf="errorMessage" style="color:red;">ERROR: {{ errorMessage }}</h2>

		<div class="row">
			<div class="column">
				<expert-filter-controls (onFilterChanged)="onFilterChanged($event)"></expert-filter-controls>
			</div>
			<div class="column">
				<label>Search by name<br/>
					<input type="text" [(ngModel)]="search">
				</label>
			</div>
			<div class="column">
				<label>Sort<br/>
					<button class="button hollow tiny">thing</button>
					<button class="button hollow tiny">stuff</button>
					<button class="button hollow tiny">doo</button>
				</label>
			</div>
		</div>
		<hr/>
		<expert-list [filterBy]="filter" [searchBy]="search"></expert-list><!-- [experts]="experts" -->
	</div>
</section>