<section class="row">
	<div class="column">
		<h1>Expert Centre</h1>
		<h2 *ngIf="errorMessage" style="color:red;">ERROR: {{ errorMessage }}</h2>

		<div class="row">
			<div class="column">
				<label>Filter by industry
					<ng2-completer [(ngModel)]="industry"
												 [datasource]="industries"
												 (selected)="onIndustrySelected($event)"
												 minSearchLength="0"
												 clearSelected="true"
												 openOnFocus="true"
												 placeholder="E.g. &ldquo;Accounting&rdquo;">
					</ng2-completer>
					<div>
						<span class="label" *ngFor="let industry of industriesSelected">&times; {{ industry.industry_name }}</span>
					</div>
				</label>
			</div>
			<div class="column">
				<label>Sort<br/>
					<button class="button hollow tiny">thing</button>
					<button class="button hollow tiny">stuff</button>
					<button class="button hollow tiny">doo</button>
				</label>
			</div>
		</div>
		<hr/>
		<expert-list [filterBy]="industriesSelected"></expert-list><!-- [experts]="experts" -->
	</div>
</section>