<router-outlet></router-outlet>
<ul class="no-bullet">
	<li *ngFor="let expert of experts | async | filterBy:['firstname','lastname']:searchBy | orderBy:orderBy">
		<div class="media-object">
			<div class="media-object-section align-self-center">
			  <a href="javascript:;" (click)="onShowDetail(expert)" class="thumbnail">
					<img [src]="expert.url">
			  </a>
			</div>
			<div class="media-object-section main-section">
			  <h4>
			  	{{ expert.firstname }} {{ expert.lastname }}<br/>
			  	<small class="subheader">{{ expert.job_title }}</small>
			  </h4>
			  <h5>{{ expert.tagline }}</h5>
			</div>
		</div>

  </li>
</ul>
